Repository honeyhiveai/praxis-os: changes, and which pre-commit hooks are due for each by the changed paths.
All: yaml-syntax-check, no-mocks-in-integration-tests, workflow-metadata-validation, docstring-presence, tox-format, tox-lint, tox-type, unit-tests, installation-docs-check, docs-quality-validation

yaml-syntax-check:
  name: YAML Syntax Validation
  entry: scripts/pre-commit/validate-yaml-syntax.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true

no-mocks-in-integration-tests:
  name: No Mocks in Integration Tests (Structural Validation)
  entry: scripts/pre-commit/validate-no-mocks-integration.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true

workflow-metadata-validation:
  name: Workflow Metadata Validation
  entry: scripts/pre-commit/validate-workflow-metadata.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true

docstring-presence:
  name: Docstring Presence Check (Production Code Requirement)
  entry: scripts/pre-commit/validate-docstrings.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true

tox-format:
  name: Code Formatting (Black + isort)
  entry: tox -e format
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true

tox-lint:
  name: 'Code Quality (Pylint ≥8.0/10.0, Target: 10.0)'
  entry: tox -e lint
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true

tox-type:
  name: Type Safety (MyPy - ZERO ERRORS REQUIRED)
  entry: tox -e type
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true

unit-tests:
  name: Unit Test Suite (Fast, Mocked)
  entry: tox -e unit
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true

installation-docs-check:
  name: Installation Documentation Completeness
  entry: scripts/pre-commit/validate-installation-docs.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true

docs-quality-validation:
  name: Documentation Quality (Divio + Links)
  entry: scripts/pre-commit/validate-docs.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true

fix: refactor CodePartition to use fractal pattern & add sibling-component-pattern-compliance standard
  .praxis-os/ouroboros/subsystems/rag/code/partition.py
  .praxis-os/specs/approved/2025-11-13-praxis-os-upgrade/tasks.md
  .praxis-os/specs/completed/2025-11-14-resilient-index-building/README.md
  .praxis-os/specs/completed/2025-11-14-resilient-index-building/implementation.md
  .praxis-os/specs/completed/2025-11-14-resilient-index-building/specs.md
  .praxis-os/specs/completed/2025-11-14-resilient-index-building/srd.md
  .praxis-os/specs/completed/2025-11-14-resilient-index-building/supporting-docs/2025-11-14-REVIEW-SUMMARY.md
  .praxis-os/specs/completed/2025-11-14-resilient-index-building/supporting-docs/2025-11-14-build-status-performance-analysis.md
  .praxis-os/specs/completed/2025-11-14-resilient-index-building/supporting-docs/2025-11-14-event-system-analysis.md
  .praxis-os/specs/completed/2025-11-14-resilient-index-building/supporting-docs/2025-11-14-resilient-index-building-COMPREHENSIVE-V2.md
  .praxis-os/specs/completed/2025-11-14-resilient-index-building/supporting-docs/2025-11-14-resilient-index-building-feedback.md
  .praxis-os/specs/completed/2025-11-14-resilient-index-building/tasks.md
  .praxis-os/specs/completed/2025-11-14-resilient-index-building/testing/requirements-list.md
  .praxis-os/standards/development/sibling-component-pattern-compliance.md
  .praxis-os/tests/ouroboros/subsystems/rag/code/test_partition.py
  .praxis-os/tests/scripts/test_upgrade_praxis_os_models.py
  dist/config/mcp.yaml
  dist/ouroboros/subsystems/rag/code/partition.py
  scripts/install-praxis-os.py
  scripts/upgrade-praxis-os.py
Due: yaml-syntax-check, docstring-presence, tox-format, tox-lint, tox-type

docs: add standalone upgrade script documentation
  docs/content/how-to-guides/upgrading.md
Due: docs-quality-validation

fix: remove PyYAML dependency from upgrade script + add to dist/
  dist/scripts/upgrade-praxis-os.py
Due: none

docs: add curl download option for upgrade script
  docs/content/how-to-guides/upgrading.md
Due: docs-quality-validation

fix: add ignore_patterns to _rsync method in upgrade script
  dist/scripts/upgrade-praxis-os.py
  scripts/upgrade-praxis-os.py
Due: docstring-presence, tox-format, tox-lint, tox-type

fix: make _verify_directory_checksums skip ignored files
  dist/scripts/upgrade-praxis-os.py
  scripts/upgrade-praxis-os.py
Due: docstring-presence, tox-format, tox-lint, tox-type

debug: add detailed logging to FileUpgrader copy operations
  dist/scripts/upgrade-praxis-os.py
  scripts/upgrade-praxis-os.py
Due: docstring-presence, tox-format, tox-lint, tox-type

fix: use rglob() for recursive file counting in validation
  dist/scripts/upgrade-praxis-os.py
  scripts/upgrade-praxis-os.py
Due: docstring-presence, tox-format, tox-lint, tox-type

fix: make virtual environment check non-blocking in validation
  dist/scripts/upgrade-praxis-os.py
  scripts/upgrade-praxis-os.py
Due: docstring-presence, tox-format, tox-lint, tox-type

feat: reinstall Python packages during upgrade (Phase 5)
  dist/scripts/upgrade-praxis-os.py
  scripts/upgrade-praxis-os.py
Due: docstring-presence, tox-format, tox-lint, tox-type

fix: remove destructive delete=True from all _rsync calls
  dist/scripts/upgrade-praxis-os.py
  scripts/upgrade-praxis-os.py
Due: docstring-presence, tox-format, tox-lint, tox-type

docs: add passive enhancement model explanation
  docs/content/explanation/passive-enhancement-model.md
  docs/sidebars.ts
  docs/src/components/AgentWithoutPraxis.tsx
  docs/src/components/MCPSubstrateStack.module.css
  docs/src/components/MCPSubstrateStack.tsx
Due: docs-quality-validation

docs: add learning parallel to installation section
  docs/content/explanation/passive-enhancement-model.md
Due: docs-quality-validation

feat: implement critical safety fixes for upgrade script (v1.1.0)
  .praxis-os/specs/completed/2025-11-13-praxis-os-upgrade/ADDENDUM-SAFETY-FIXES.md
  .praxis-os/specs/completed/2025-11-13-praxis-os-upgrade/README.md
  .praxis-os/specs/completed/2025-11-13-praxis-os-upgrade/REVIEW_NOTES.md
  .praxis-os/specs/completed/2025-11-13-praxis-os-upgrade/implementation.md
  .praxis-os/specs/completed/2025-11-13-praxis-os-upgrade/specs.md
  .praxis-os/specs/completed/2025-11-13-praxis-os-upgrade/srd.md
  .praxis-os/specs/completed/2025-11-13-praxis-os-upgrade/supporting-docs/.processing-mode
  .praxis-os/specs/completed/2025-11-13-praxis-os-upgrade/supporting-docs/design-doc.md
  .praxis-os/specs/completed/2025-11-13-praxis-os-upgrade/tasks.md
  .praxis-os/specs/completed/2025-11-13-praxis-os-upgrade/testing/requirements-list.md
  dist/scripts/upgrade-praxis-os.py
  scripts/upgrade-praxis-os.py
Due: docstring-presence, tox-format, tox-lint, tox-type

fix: remove nested .praxis-os/ path bug + add 4-layer defense system
  .praxis-os/ouroboros/subsystems/rag/code/semantic.py
  .praxis-os/ouroboros/subsystems/rag/standards/semantic.py
  .praxis-os/tests/ouroboros/integration/test_filesystem_layout.py
  .praxis-os/tests/ouroboros/subsystems/rag/test_path_construction.py
  .pre-commit-config.yaml
  dist/ouroboros/subsystems/rag/code/semantic.py
  dist/ouroboros/subsystems/rag/standards/semantic.py
  scripts/validate_filesystem_layout.py
Due: yaml-syntax-check, docstring-presence, tox-format, tox-lint, tox-type

docs: add comprehensive language_configs examples to mcp.yaml
  dist/config/mcp.yaml
Due: yaml-syntax-check

refactor(search): reduce default n_results from 5 to 3
  .praxis-os/ouroboros/tools/pos_search_project.py
  dist/ouroboros/tools/pos_search_project.py
Due: none

fix(graph): prevent ID collisions in multi-partition builds
  .praxis-os/ouroboros/subsystems/rag/code/graph/container.py
Due: none

chore: Mark RuntimeLock spec as completed
  .praxis-os/specs/completed/2025-11-17-runtime-lock-singleton-enforcement/ADDENDUM-IndexLockManager-Hardening.md
  .praxis-os/specs/completed/2025-11-17-runtime-lock-singleton-enforcement/ADDENDUM-InitLock-Hardening.md
  .praxis-os/specs/completed/2025-11-17-runtime-lock-singleton-enforcement/ARCHITECTURE-COMPLIANCE.md
  .praxis-os/specs/completed/2025-11-17-runtime-lock-singleton-enforcement/CHANGELOG.md
  .praxis-os/specs/completed/2025-11-17-runtime-lock-singleton-enforcement/DEPENDENCY-ANALYSIS.md
  .praxis-os/specs/completed/2025-11-17-runtime-lock-singleton-enforcement/README.md
  .praxis-os/specs/completed/2025-11-17-runtime-lock-singleton-enforcement/SCOPE-EXPANSION-SUMMARY.md
  .praxis-os/specs/completed/2025-11-17-runtime-lock-singleton-enforcement/implementation.md
  .praxis-os/specs/completed/2025-11-17-runtime-lock-singleton-enforcement/specs.md
  .praxis-os/specs/completed/2025-11-17-runtime-lock-singleton-enforcement/srd.md
  .praxis-os/specs/completed/2025-11-17-runtime-lock-singleton-enforcement/supporting-docs/REFERENCES.md
  .praxis-os/specs/completed/2025-11-17-runtime-lock-singleton-enforcement/supporting-docs/design-doc-runtime-lock.md
  .praxis-os/specs/completed/2025-11-17-runtime-lock-singleton-enforcement/tasks.md
  .praxis-os/specs/completed/2025-11-17-runtime-lock-singleton-enforcement/testing/README.md
Due: none

fix(graph): Delete database file instead of DELETE statements on force rebuild
  .praxis-os/ouroboros/subsystems/rag/code/graph/container.py
  dist/ouroboros/subsystems/rag/code/graph/container.py
Due: none

refactor(rag): remove dead code and fix ACTION_REGISTRY duplication
  dist/ouroboros/subsystems/rag/index_manager.py
Due: none

Fix standards creation guidance: separate consumer vs framework workflows
  .praxis-os/standards/development/universal-standard-creation.md
  .praxis-os/standards/universal/ai-assistant/standards-creation-process.md
  dist/universal/standards/ai-assistant/standards-creation-process.md
Due: none

Remove undeclared filters field from orientation queries in dist config
  dist/config/mcp.yaml
Due: yaml-syntax-check

Path conditions:
  yaml-syntax-check: any of: ^.*\.(yaml|yml)$
  no-mocks-in-integration-tests: any of: ^tests/integration/.*\.py$
  workflow-metadata-validation: any of: ^universal/workflows/.*/metadata\.json$
  docstring-presence: any of: ^(mcp_server|scripts)/.*\.py$
  tox-format: any of: ^(mcp_server/.*\.py|scripts/.*\.py|tests/.*\.py)$
  tox-lint: any of: ^(mcp_server/.*\.py|scripts/.*\.py)$
  tox-type: any of: ^(mcp_server/.*\.py|scripts/.*\.py)$
  unit-tests: any of: ^(mcp_server/.*\.py|tests/unit/.*\.py)$
  installation-docs-check: any of: ^(installation/.*\.md|scripts/build_rag_index\.py)$
  docs-quality-validation: any of: ^docs/.*\.md$
