Repository honeyhiveai/praxis-os: changes, and which pre-commit hooks are due for each by the changed paths.
All: yaml-syntax-check, no-mocks-in-integration-tests, workflow-metadata-validation, docstring-presence, tox-format, tox-lint, tox-type, unit-tests, installation-docs-check, docs-quality-validation

Path conditions:
  yaml-syntax-check: any of: ^.*\.(yaml|yml)$
  no-mocks-in-integration-tests: any of: ^tests/integration/.*\.py$
  workflow-metadata-validation: any of: ^universal/workflows/.*/metadata\.json$
  docstring-presence: any of: ^(mcp_server|scripts)/.*\.py$
  tox-format: any of: ^(mcp_server/.*\.py|scripts/.*\.py|tests/.*\.py)$
  tox-lint: any of: ^(mcp_server/.*\.py|scripts/.*\.py)$
  tox-type: any of: ^(mcp_server/.*\.py|scripts/.*\.py)$
  unit-tests: any of: ^(mcp_server/.*\.py|tests/unit/.*\.py)$
  installation-docs-check: any of: ^(installation/.*\.md|scripts/build_rag_index\.py)$
  docs-quality-validation: any of: ^docs/.*\.md$

fix: Fix all failing tests and build indexes in test fixtures
  .praxis-os/ouroboros/config/schemas/indexes.py
  .praxis-os/tests/integration/test_parser_regression.py
  .praxis-os/tests/ouroboros/__init__.py
  .praxis-os/tests/ouroboros/config/__init__.py
  .praxis-os/tests/ouroboros/conftest.py
  .praxis-os/tests/ouroboros/integration/__init__.py
  .praxis-os/tests/ouroboros/integration/test_browser_flow.py
  .praxis-os/tests/ouroboros/integration/test_file_watcher_latency.py
  .praxis-os/tests/ouroboros/integration/test_search_flow.py
  .praxis-os/tests/ouroboros/integration/test_workflow_flow.py
  .praxis-os/tests/ouroboros/middleware/__init__.py
  .praxis-os/tests/ouroboros/middleware/test_prepend_generator.py
  .praxis-os/tests/ouroboros/middleware/test_query_classifier.py
  .praxis-os/tests/ouroboros/middleware/test_query_tracker.py
  .praxis-os/tests/ouroboros/performance/__init__.py
  .praxis-os/tests/ouroboros/performance/test_performance.py
  .praxis-os/tests/ouroboros/subsystems/__init__.py
  .praxis-os/tests/ouroboros/subsystems/browser/__init__.py
  .praxis-os/tests/ouroboros/subsystems/rag/__init__.py
  .praxis-os/tests/ouroboros/subsystems/rag/test_file_watcher.py
  .praxis-os/tests/ouroboros/subsystems/rag/test_index_manager.py
  .praxis-os/tests/ouroboros/subsystems/workflow/__init__.py
  .praxis-os/tests/ouroboros/tools/__init__.py
  .praxis-os/tests/ouroboros/tools/test_pos_filesystem_functional.py
  .praxis-os/tests/ouroboros/tools/test_pos_search.py
  .praxis-os/tests/ouroboros/tools/test_pos_search_functional.py
  .praxis-os/tests/ouroboros/tools/test_pos_workflow_functional.py
  .praxis-os/tests/ouroboros/validation/__init__.py
  .praxis-os/tests/ouroboros/validation/test_behavioral_engineering.py
  .praxis-os/tests/server/tools/test_workflow_tools.py
  .praxis-os/tests/unit/test_semantic_parser.py
  .pre-commit-config.yaml
Due: yaml-syntax-check

fix(query_classifier): Prioritize most specific angle match for primary selection
  .praxis-os/ouroboros/middleware/query_classifier.py
Due: none

fix(query_classifier): Copy bug fix to distribution
  dist/ouroboros/middleware/query_classifier.py
Due: none

fix(docs): Fix MDX compilation errors in agent integration guides
  docs/content/how-to-guides/agent-integrations/claude-code/terminal.md
  docs/content/how-to-guides/agent-integrations/claude-code/vscode.md
  docs/content/how-to-guides/agent-integrations/cline/vscode.md
Due: docs-quality-validation

feat(pre-commit): Add MDX compilation check to docs validation
  scripts/pre-commit/validate-docs.sh
Due: none

enhance: improve link validation in pre-commit hook
  scripts/pre-commit/validate-docs.sh
Due: none

fix: resolve all broken documentation links
  docs/content/how-to-guides/agent-integrations/cursor/index.md
  docs/content/how-to-guides/agent-integrations/github-copilot/index.md
  docs/content/reference/config-reference.md
Due: docs-quality-validation

fix: resolve remaining broken links in agent integration guides
  docs/content/how-to-guides/agent-integrations/claude-code/terminal.md
  docs/content/how-to-guides/agent-integrations/cline/cursor.md
  docs/content/how-to-guides/agent-integrations/cline/vscode.md
Due: docs-quality-validation

fix: validate staged files, not working directory in pre-commit hook
  scripts/pre-commit/validate-docs.sh
Due: none

docs: update landing page and installation to reflect all supported agents
  docs/content/tutorials/installation.md
  docs/sidebars.ts
  docs/src/pages/index.tsx
Due: docs-quality-validation

feat(installation): Add updated multi-agent installation workflow guides
  docs/content/how-to-guides/agent-integrations/github-copilot/_category_.json
  installation/03-agent-configuration.md
  installation/04-config-customization.md
  installation/05-gitignore.md
  installation/06-venv-mcp.md
  installation/07-validate.md
Due: installation-docs-check

fix(installation): Align installation pathways for agent/IDE modes
  README.md
  docs/content/tutorials/installation.md
  docs/src/pages/index.tsx
  installation/02-copy-files.md
  installation/03-agent-configuration.md
  installation/03-cursorrules.md
  installation/04-gitignore.md
  installation/05-venv-mcp.md
  installation/06-validate.md
  installation/06-venv-mcp.md
  installation/07-validate.md
  installation/README.md
Due: installation-docs-check, docs-quality-validation

fix(installation): Complete installation pathway alignment fixes
  INSTALLATION_FIXES_SUMMARY.md
  installation/00-START.md
  installation/01-directories.md
  installation/02-copy-files.md
  installation/05-gitignore.md
  installation/06-venv-mcp.md
  installation/07-validate.md
  installation/README.md
  installation/SYSTEM-SUMMARY.md
  scripts/install-praxis-os.py
Due: docstring-presence, tox-format, tox-lint, tox-type, installation-docs-check

fix(cursor): Escape workspaceFolder variable in MDX using HTML entities
  .cursor/mcp.json
  docs/content/how-to-guides/agent-integrations/README.md
  docs/content/how-to-guides/agent-integrations/claude-code/cursor.md
  docs/content/how-to-guides/agent-integrations/cline/cursor.md
  docs/content/how-to-guides/agent-integrations/cursor/index.md
  docs/src/css/custom.css
  docs/src/pages/index.module.css
  docs/src/pages/index.tsx
Due: docs-quality-validation

fix(cursor): Fix MCP config with actual project paths
  .cursor/mcp.json
Due: none

docs(cursor): Add template mcp.json with placeholder paths
  dist/.cursor/mcp.json
Due: none

fix(cursor): Revert to workspaceFolder variables in MCP config
  .cursor/mcp.json
  dist/.cursor/mcp.json
Due: none

feat(code-index): Implement three-tier file exclusion system with .gitignore support
  .praxis-os/ouroboros/__init__.py
  .praxis-os/ouroboros/ast.py
  .praxis-os/ouroboros/config/schemas/indexes.py
  .praxis-os/ouroboros/hidden_schemas.py
  .praxis-os/ouroboros/mcp.py
  .praxis-os/ouroboros/pattern_discovery.py
  .praxis-os/ouroboros/query_classifier.py
  .praxis-os/ouroboros/requirements.txt
  .praxis-os/ouroboros/subsystems/rag/code/constants.py
  .praxis-os/ouroboros/subsystems/rag/code/semantic.py
  .praxis-os/ouroboros/watcher.py
  .praxis-os/ouroboros/workflow_definition.py
  .praxis-os/tests/ouroboros/subsystems/rag/test_code_index_exclusions.py
  dist/ouroboros/config/mcp.yaml
  dist/ouroboros/config/schemas/indexes.py
  dist/ouroboros/middleware/__init__.py
  dist/ouroboros/registry/__init__.py
  dist/ouroboros/requirements.txt
  dist/ouroboros/subsystems/rag/code/constants.py
  dist/ouroboros/subsystems/rag/code/semantic.py
  dist/ouroboros/utils/__init__.py
  docs/content/reference/config-reference.md
  docs/content/tutorials/installation.md
Due: yaml-syntax-check, docs-quality-validation

refactor: fix type annotation for proper type safety
  .praxis-os/ouroboros/middleware/query_classifier.py
  dist/ouroboros/middleware/query_classifier.py
Due: none

feat: Complete cascading health check spec and fix workflow system
  .praxis-os/specs/review/2025-11-08-cascading-health-check-architecture/README.md
  .praxis-os/specs/review/2025-11-08-cascading-health-check-architecture/implementation.md
  .praxis-os/specs/review/2025-11-08-cascading-health-check-architecture/specs.md
  .praxis-os/specs/review/2025-11-08-cascading-health-check-architecture/srd.md
  .praxis-os/specs/review/2025-11-08-cascading-health-check-architecture/supporting-docs/.processing-mode
  .praxis-os/specs/review/2025-11-08-cascading-health-check-architecture/supporting-docs/2025-11-08-cascading-health-check-architecture.md
  .praxis-os/specs/review/2025-11-08-cascading-health-check-architecture/supporting-docs/INDEX.md
  .praxis-os/specs/review/2025-11-08-cascading-health-check-architecture/supporting-docs/INSIGHTS.md
  .praxis-os/specs/review/2025-11-08-cascading-health-check-architecture/tasks.md
  .praxis-os/specs/review/2025-11-08-cascading-health-check-architecture/testing/functional-tests.md
  .praxis-os/specs/review/2025-11-08-cascading-health-check-architecture/testing/nonfunctional-tests.md
  .praxis-os/specs/review/2025-11-08-cascading-health-check-architecture/testing/requirements-list.md
  .praxis-os/specs/review/2025-11-08-cascading-health-check-architecture/testing/test-strategy.md
  .praxis-os/workflows/spec_creation_v1/metadata.json
  .praxis-os/workflows/spec_creation_v1/phases/4/phase.md
  .praxis-os/workflows/spec_creation_v1/phases/4/task-3-testing-strategy.md
  .praxis-os/workflows/spec_creation_v1/phases/4/task-4-deployment.md
  .praxis-os/workflows/spec_creation_v1/phases/4/task-5-troubleshooting.md
  dist/universal/workflows/spec_creation_v1/metadata.json
  dist/universal/workflows/spec_creation_v1/phases/4/phase.md
  dist/universal/workflows/spec_creation_v1/phases/4/task-3-testing-strategy.md
  dist/universal/workflows/spec_creation_v1/phases/4/task-4-deployment.md
  dist/universal/workflows/spec_creation_v1/phases/4/task-5-troubleshooting.md
  scripts/sync-to-dist.sh
Due: none

fix: Remove dev scripts from dist/scripts
  dist/scripts/analyze_session_chunks.py
  dist/scripts/build_rag_index.py
  dist/scripts/chunk_large_file.py
  dist/scripts/config_generator.py
  dist/scripts/configure-claude-code-mcp.py
  dist/scripts/dependency_manager.py
  dist/scripts/generate-gate-definitions.py
  dist/scripts/generate-manifest.py
  dist/scripts/install-praxis-os.py
  dist/scripts/language_detection.py
  dist/scripts/migrate_checkpoints_to_gates.py
  dist/scripts/pre-commit/README.md
  dist/scripts/pre-commit/validate-credential-safety.sh
  dist/scripts/pre-commit/validate-docs.sh
  dist/scripts/pre-commit/validate-docstrings.sh
  dist/scripts/pre-commit/validate-git-safety.sh
  dist/scripts/pre-commit/validate-installation-docs.sh
  dist/scripts/pre-commit/validate-no-mocks-integration.sh
  dist/scripts/pre-commit/validate-workflow-metadata.sh
  dist/scripts/pre-commit/validate-yaml-syntax.sh
  dist/scripts/sync-to-dist.sh
  dist/scripts/tests/test_config_generator.py
  dist/scripts/tests/test_dependency_manager.py
  dist/scripts/tests/test_language_detection.py
  dist/scripts/update-cline-mcp.py
  dist/scripts/validate-divio-compliance.py
  dist/scripts/validate-links.py
  dist/scripts/validate_workflow_metadata.py
Due: none

feat(rag): background index building + test coverage + config cleanup
  .praxis-os/config/index_config.yaml
  .praxis-os/ouroboros/server.py
  .praxis-os/specs/completed/2025-11-12-multi-repo-code-intelligence/ADDENDUM-simplified-architecture.md
  .praxis-os/specs/completed/2025-11-12-multi-repo-code-intelligence/README.md
  .praxis-os/specs/completed/2025-11-12-multi-repo-code-intelligence/implementation.md
  .praxis-os/specs/completed/2025-11-12-multi-repo-code-intelligence/specs.md
  .praxis-os/specs/completed/2025-11-12-multi-repo-code-intelligence/srd.md
  .praxis-os/specs/completed/2025-11-12-multi-repo-code-intelligence/supporting-docs/.processing-mode
  .praxis-os/specs/completed/2025-11-12-multi-repo-code-intelligence/supporting-docs/2025-11-11-multi-repo-code-intelligence-instrumentor-analysis.md
  .praxis-os/specs/completed/2025-11-12-multi-repo-code-intelligence/supporting-docs/INDEX.md
  .praxis-os/specs/completed/2025-11-12-multi-repo-code-intelligence/tasks.md
  .praxis-os/specs/completed/2025-11-12-multi-repo-code-intelligence/testing/functional-tests.md
  .praxis-os/specs/completed/2025-11-12-multi-repo-code-intelligence/testing/nonfunctional-tests.md
  .praxis-os/specs/completed/2025-11-12-multi-repo-code-intelligence/testing/requirements-list.md
  .praxis-os/specs/completed/2025-11-12-multi-repo-code-intelligence/testing/test-strategy.md
  .praxis-os/tests/ouroboros/subsystems/rag/test_background_index_building.py
Due: yaml-syntax-check

feat(orientation): Orientation v2.0 - Twin Pillars design (stateless + capabilities first)
  .praxis-os/standards/universal/ai-assistant/PRAXIS-OS-ORIENTATION.md
  .praxis-os/standards/universal/ai-assistant/ai-capabilities-trust.md
  .praxis-os/standards/universal/ai-assistant/stateless-instance-architecture.md
Due: none

fix(standards): Update paths to reflect dist/ structure + add dist-directory-rationale
  .praxis-os/standards/development/dev-vs-distribution-workflow.md
  .praxis-os/standards/development/dist-directory-rationale.md
  .praxis-os/standards/development/dogfooding-model.md
  dist/universal/standards/ai-assistant/PRAXIS-OS-ORIENTATION.md
  dist/universal/standards/ai-assistant/ai-capabilities-trust.md
  dist/universal/standards/ai-assistant/stateless-instance-architecture.md
Due: none

feat(spec): Add praxis-os upgrade system specification
  .praxis-os/specs/review/2025-11-13-praxis-os-upgrade/README.md
  .praxis-os/specs/review/2025-11-13-praxis-os-upgrade/REVIEW_NOTES.md
  .praxis-os/specs/review/2025-11-13-praxis-os-upgrade/implementation.md
  .praxis-os/specs/review/2025-11-13-praxis-os-upgrade/specs.md
  .praxis-os/specs/review/2025-11-13-praxis-os-upgrade/srd.md
  .praxis-os/specs/review/2025-11-13-praxis-os-upgrade/supporting-docs/.processing-mode
  .praxis-os/specs/review/2025-11-13-praxis-os-upgrade/supporting-docs/design-doc.md
  .praxis-os/specs/review/2025-11-13-praxis-os-upgrade/tasks.md
  .praxis-os/specs/review/2025-11-13-praxis-os-upgrade/testing/requirements-list.md
Due: none

docs(standards): Add snapshot reasoning philosophy to stateless architecture
  .praxis-os/standards/universal/ai-assistant/stateless-instance-architecture.md
  dist/universal/standards/ai-assistant/stateless-instance-architecture.md
Due: none

feat(rag): Conditionally register index components + add enabled flags
  .praxis-os/ouroboros/config/schemas/indexes.py
  .praxis-os/ouroboros/subsystems/rag/code/container.py
  .praxis-os/ouroboros/subsystems/rag/standards/container.py
  .praxis-os/state/workflow/error/workflow_default_2e9c3d28-62b6-4372-9cd0-8c34c98765eb.json
  .praxis-os/state/workflow/error/workflow_default_af8e80be-80ca-4129-8385-9101426b6ef5.json
  .praxis-os/tests/ouroboros/subsystems/rag/test_background_index_building.py
  dist/ouroboros/config/schemas/indexes.py
  dist/ouroboros/server.py
  dist/ouroboros/subsystems/rag/code/container.py
  dist/ouroboros/subsystems/rag/standards/container.py
Due: none

fix(install): add config/mcp.yaml template copying and update directory structure
  installation/01-directories.md
  scripts/install-praxis-os.py
Due: docstring-presence, tox-format, tox-lint, tox-type, installation-docs-check

fix(install): add workspace/ to gitignore patterns
  scripts/install-praxis-os.py
Due: docstring-presence, tox-format, tox-lint, tox-type

fix(install): add .backups/ to gitignore patterns
  scripts/install-praxis-os.py
Due: docstring-presence, tox-format, tox-lint, tox-type

fix(install): add state/ to gitignore and remove manual gitignore step
  installation/05-gitignore.md
  scripts/install-praxis-os.py
Due: docstring-presence, tox-format, tox-lint, tox-type, installation-docs-check
