Repository honeyhiveai/praxis-os: changes, and which pre-commit hooks are due for each by the changed paths.
All: yaml-syntax-check, no-mocks-in-integration-tests, workflow-metadata-validation, docstring-presence, tox-format, tox-lint, tox-type, unit-tests, installation-docs-check, docs-quality-validation

Path conditions:
  yaml-syntax-check: any of: ^.*\.(yaml|yml)$
  no-mocks-in-integration-tests: any of: ^tests/integration/.*\.py$
  workflow-metadata-validation: any of: ^universal/workflows/.*/metadata\.json$
  docstring-presence: any of: ^(mcp_server|scripts)/.*\.py$
  tox-format: any of: ^(mcp_server/.*\.py|scripts/.*\.py|tests/.*\.py)$
  tox-lint: any of: ^(mcp_server/.*\.py|scripts/.*\.py)$
  tox-type: any of: ^(mcp_server/.*\.py|scripts/.*\.py)$
  unit-tests: any of: ^(mcp_server/.*\.py|tests/unit/.*\.py)$
  installation-docs-check: any of: ^(installation/.*\.md|scripts/build_rag_index\.py)$
  docs-quality-validation: any of: ^docs/.*\.md$

chore: update MCP server and remove deprecated test files
  .agent-os/mcp_server/__main__.py
  .clinerules
  mcp_server/__main__.py
  mcp_tool_cli.py
  test_mcp_access.sh
  test_mcp_client.py
Due: docstring-presence, tox-format, tox-lint, tox-type, unit-tests

docs: Add quality gates guide and adversarial design philosophy
  docs/content/explanation/adversarial-design.md
  docs/content/how-to-guides/setup-quality-gates.md
  docs/sidebars.ts
  docs/src/components/QualityGatesFlowDiagram.module.css
  docs/src/components/QualityGatesFlowDiagram.tsx
Due: docs-quality-validation

fix: remove nested duplicate ai-assistant/ directory causing RAG index pollution
  .agent-os/standards/universal/ai-assistant/ai-assistant/AGENT-OS-ORIENTATION.md
  .agent-os/standards/universal/ai-assistant/ai-assistant/MCP-TOOLS-GUIDE.md
  .agent-os/standards/universal/ai-assistant/ai-assistant/agent-decision-protocol.md
  .agent-os/standards/universal/ai-assistant/ai-assistant/agent-os-development-process.md
  .agent-os/standards/universal/ai-assistant/ai-assistant/analysis-methodology.md
  .agent-os/standards/universal/ai-assistant/ai-assistant/commit-protocol.md
  .agent-os/standards/universal/ai-assistant/ai-assistant/compliance-protocol.md
  .agent-os/standards/universal/ai-assistant/ai-assistant/knowledge-compounding-guide.md
  .agent-os/standards/universal/ai-assistant/ai-assistant/mcp-tool-discovery.md
  .agent-os/standards/universal/ai-assistant/ai-assistant/pre-generation-validation.md
  .agent-os/standards/universal/ai-assistant/ai-assistant/query-construction-patterns.md
  .agent-os/standards/universal/ai-assistant/ai-assistant/rag-content-authoring.md
  .agent-os/standards/universal/ai-assistant/ai-assistant/standards-creation-process.md
Due: none

Fix unit tests after API changes (validate_checkpoint public, WorkflowSession requires engine)
  .agent-os/mcp_server/server/tools/workflow_tools/dispatcher.py
  .agent-os/mcp_server/workflow_engine.py
  mcp_server/server/tools/workflow_tools/dispatcher.py
  mcp_server/workflow_engine.py
  tests/unit/test_config_http_fields.py
  tests/unit/test_evidence_validation_workflow.py
  tests/unit/test_workflow_session.py
Due: docstring-presence, tox-format, tox-lint, tox-type, unit-tests

fix: restore current_date tool lost during workflow_tools refactor
  .agent-os/mcp_server/server/tools/server_info_tools.py
  mcp_server/server/tools/server_info_tools.py
Due: docstring-presence, tox-format, tox-lint, tox-type, unit-tests

Add explanation doc: Measuring Outcomes, Not Prompts
  .agent-os/specs/2025-10-22-browser-agent-ide/README.md
  docs/content/explanation/measuring-outcomes-not-prompts.md
  docs/sidebars.ts
Due: docs-quality-validation

fix: Change CONTRIBUTING.md links to GitHub URLs
  docs/content/explanation/adversarial-design.md
  docs/content/how-to-guides/setup-quality-gates.md
Due: docs-quality-validation

feat: Add Docusaurus scope check to link validator
  scripts/validate-links.py
Due: docstring-presence, tox-format, tox-lint, tox-type

Update social preview image for prAxIs OS
  docs/docusaurus.config.ts
  docs/static/img/agent-os-social-card.jpg
Due: none

Rename MCP tools: aos_ → pos_ (prAxIs OS prefix)
  tests/integration/test_pos_workflow_e2e.py
Due: no-mocks-in-integration-tests, tox-format

fix: Add thread safety to QueryTracker and fix all pre-existing test failures
  .cursorrules
  mcp_server/core/parsers.py
  mcp_server/core/prepend_generator.py
  mcp_server/core/query_tracker.py
  mcp_server/core/session_id_extractor.py
  tests/integration/test_thread_safety.py
  tests/unit/test_gamification_performance.py
  tests/unit/test_prepend_generator.py
  tests/unit/test_search_standards_gamification.py
  tests/unit/test_server_info_tools.py
  tox.ini
Due: no-mocks-in-integration-tests, docstring-presence, tox-format, tox-lint, tox-type, unit-tests

docs: Add temporary screenshot guidance to workspace-organization standard
  .praxis-os/standards/universal/installation/workspace-organization.md
  universal/standards/installation/workspace-organization.md
Due: none

docs: Remove 'Edit this page' links from documentation
  docs/docusaurus.config.ts
Due: none

docs: Update landing page and documentation content
  docs/content/explanation/architecture.md
  docs/content/explanation/how-it-works.md
  docs/content/reference/mcp-tools.md
  docs/content/reference/standards.md
  docs/content/tutorials/intro.md
  docs/src/components/RAGEfficiencyComparison.tsx
  docs/src/pages/index.tsx
Due: docs-quality-validation

feat: Add automatic Claude Code MCP configuration
  scripts/configure-claude-code.py
  scripts/install-praxis-os.py
Due: docstring-presence, tox-format, tox-lint, tox-type

fix: Enable dynamic workflow phase loading for spec_execution_v1
  .praxis-os/ouroboros/subsystems/workflow/engine.py
  .praxis-os/ouroboros/subsystems/workflow/models.py
  .praxis-os/ouroboros/subsystems/workflow/task_parser.py
  .praxis-os/ouroboros/subsystems/workflow/workflow_renderer.py
Due: none

feat(parsers): Phase 1 - Create directory structure
  .praxis-os/ouroboros/subsystems/workflow/parsers/__init__.py
  .praxis-os/ouroboros/subsystems/workflow/parsers/base.py
  .praxis-os/ouroboros/subsystems/workflow/parsers/markdown/__init__.py
  .praxis-os/ouroboros/subsystems/workflow/parsers/markdown/extraction.py
  .praxis-os/ouroboros/subsystems/workflow/parsers/markdown/scoring.py
  .praxis-os/ouroboros/subsystems/workflow/parsers/markdown/spec_tasks.py
  .praxis-os/ouroboros/subsystems/workflow/parsers/markdown/traversal.py
  .praxis-os/ouroboros/subsystems/workflow/parsers/shared/__init__.py
  .praxis-os/ouroboros/subsystems/workflow/parsers/shared/dependencies.py
  .praxis-os/ouroboros/subsystems/workflow/parsers/shared/text.py
  .praxis-os/ouroboros/subsystems/workflow/parsers/shared/validation.py
  .praxis-os/ouroboros/subsystems/workflow/parsers/yaml/__init__.py
  .praxis-os/ouroboros/subsystems/workflow/parsers/yaml/workflow_definition.py
Due: none

feat(parsers): Phase 3 - Extract YAML parser
  .praxis-os/ouroboros/subsystems/workflow/parsers/__init__.py
  .praxis-os/ouroboros/subsystems/workflow/parsers/yaml/__init__.py
  .praxis-os/ouroboros/subsystems/workflow/parsers/yaml/workflow_definition.py
  .praxis-os/ouroboros/subsystems/workflow/task_parser.py
Due: none

feat(parsers): Phase 4 - Extract markdown utilities (5 modules, ~888 lines)
  .praxis-os/ouroboros/subsystems/workflow/parsers/markdown/__init__.py
  .praxis-os/ouroboros/subsystems/workflow/parsers/markdown/extraction.py
  .praxis-os/ouroboros/subsystems/workflow/parsers/markdown/traversal.py
  .praxis-os/ouroboros/subsystems/workflow/parsers/shared/__init__.py
  .praxis-os/ouroboros/subsystems/workflow/parsers/shared/dependencies.py
  .praxis-os/ouroboros/subsystems/workflow/parsers/shared/text.py
  .praxis-os/ouroboros/subsystems/workflow/parsers/shared/validation.py
Due: none

feat(parsers): Phase 5 (WIP) - Implement defensive SpecTasksParser with scoring
  .praxis-os/ouroboros/subsystems/workflow/parsers/__init__.py
  .praxis-os/ouroboros/subsystems/workflow/parsers/markdown/__init__.py
  .praxis-os/ouroboros/subsystems/workflow/parsers/markdown/scoring.py
  .praxis-os/ouroboros/subsystems/workflow/parsers/markdown/spec_tasks.py
  .praxis-os/ouroboros/subsystems/workflow/parsers/shared/validation.py
  .praxis-os/ouroboros/subsystems/workflow/task_parser.py
Due: none

fix(parsers): Improve content boundary detection in SpecTasksParser
  .praxis-os/ouroboros/subsystems/workflow/parsers/markdown/spec_tasks.py
Due: none

feat(parsers): Phase 5 Complete - Defensive SpecTasksParser working!
  .praxis-os/ouroboros/subsystems/workflow/parsers/markdown/spec_tasks.py
Due: none

feat(parsers): Phase 6 & 7 - Update consumers and validate with tests
  .praxis-os/ouroboros/subsystems/workflow/__init__.py
  .praxis-os/ouroboros/subsystems/workflow/dynamic_registry.py
  .praxis-os/ouroboros/subsystems/workflow/engine.py
  tests/integration/test_parser_refactor_validation.py
Due: no-mocks-in-integration-tests, tox-format

refactor(parsers): Remove unnecessary task_parser.py backward compatibility shim
  .praxis-os/ouroboros/subsystems/workflow/task_parser.py
  tests/integration/test_parser_refactor_validation.py
Due: no-mocks-in-integration-tests, tox-format

test(parsers): Add validation tests against real specs from repository
  tests/integration/test_parser_real_specs.py
Due: no-mocks-in-integration-tests, tox-format
